<div>DATA 1</div>
<div *ngIf="data1 !== undefined; else falseState" class="trueState">
  DATA1 Retrieved :
  <div class="blink">{{ data1TestVar }}</div>
</div>
<br />
<div>DATA 2</div>
<div *ngIf="data2 !== undefined; else falseState" class="trueState">
  DATA2 Retrieved :
  <div class="blink">{{ data2TestVar }}</div>
</div>
<br />
<br />
<div>Aggregate</div>
<div *ngIf="aggregatedData !== undefined; else falseState" class="trueState">
  Aggregation Retrieved :
  <div class="blink">{{ aggregateTestVar }}</div>
</div>

<ng-template #falseState>
  <div class="falseState">
    FALSE
  </div>
</ng-template>
